





<body class="sports">    

<h1 style="font-family:verdana; color:coral; font-size:300%; text-align:center">Life's Too Sport!</h1>


<% @sports.uniq.each do |sport| %>
<%= button_to sport.name, sport_path(sport), method: :get %>
<% end %>

</body>
</html>

