<h1>Life's Too Sport!</h1>

<img src='https://previews.123rf.com/images/chromaco/chromaco1109/chromaco110900021/10537816-basketball-hoop-with-basketball-cartoon.jpg' height= 250, width= 350>
<img src='https://sportshub.cbsistatic.com/i/r/2019/09/26/f81faf11-54b5-4c2f-9d7f-d129b9e45803/thumbnail/640x360/9848805b319ccb9c8891ee149e020ce7/college-football-general.jpg' height = 250, width= 400>
<img src='https://lh3.googleusercontent.com/proxy/ZcYsQRCuZGUd5Urp-PXfmLBKM8HUtLAP73YC69nDOv93AIZoQpzOFBMVc-HczrI2WdUC-hoxp0BFFTCA7jPa1SBCvt7xMMhivo0VnvpcBBkR6mw' height= 250, width= 400>

<ul>
<% @sports.uniq.each do |sport| %>
<li><%= link_to sport.name, sport_path(sport) %></li>
<% end %>
</ul>

<p> <%= link_to 'User Login', login_path(controller: 'sessions', action: 'new') %></p><br>

<p> <%= link_to 'Create Account', new_user_path(controller: 'user', action: 'new') %></p>

