// Place all the styles related to the Sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body.sports {
  background-image: url('https://images.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg?cs=srgb&dl=brown-and-white-track-field-163444.jpg&fm=jpg') !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.background_image img {
  display: block;
    max-width:230px;
    max-height:180px;
    width: auto;
    height: auto;
    background-repeat: repeat-y
}